
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.main-content {
  padding-top: 64px; 
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logo-img {
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-links {
    display: none;
  }
  
  .menu-btn {
    display: block;
  }
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
  margin: 0px 10px;
}

.mat-divider {
  margin: 8px 0;
}




.hero-section {
  background-image: url('../../../assets/img/Mi-Cultivo.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}


.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);  
  filter: blur(5px);  
  z-index: -1;  
}

.hero-logo {
  width: 50vw; 
  max-width: 350px; 
  height: auto; 
  margin-bottom: 10px;
}


.subtitle {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


.services {
  background-color: #f4f4f4;
  padding: 50px 20px;
}

.services h2 {
  text-align: center;
  color: #4caf50;
  font-size: 2rem;  
  margin-bottom: 20px;
  line-height: 1.1;
}

.services-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.service-card {
  background: white;
  border-radius: 15px; 
  padding: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.service-card h3 {
  color: #4caf50;
  margin: 15px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.service-card p {
  color: #666;
  font-size: 0.95rem;
  margin-top: 10px;
  line-height: 1.6;
}

.news {
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.news h2 {
  text-align: center;
  color: #4caf50;
  font-size: 2rem;
  margin-bottom: 20px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.news-card {
  background: white;
  border-radius: 15px; 
  padding: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.news-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.news-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.news-card p {
  margin-top: 15px;
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
}


.news-card .news-date {
  font-size: 0.9rem;
  color: #777;
  margin-top: 10px;
  text-align: right;
  font-style: italic;
}

.contact {
  background-color: #f4f4f4;
  text-align: center;
  padding: 40px;
}

.contact h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .news-container {
    flex-direction: column;
    align-items: center;
  }

  .service-card, .news-card {
    width: 90%; 
  }

  .hero-section {
    height: 300px;
  }

  .subtitle {
    font-size: 1.0rem;
  }
}

@media (max-width: 568px) {
    .subtitle {
        font-size: 0.9rem;
    }
}

@media (max-width: 368px) {
    .subtitle {
        font-size: 0.8rem;
    }
}


.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-bottom: 20px;
}

.footer-social a {
  color: white;
  margin: 0 10px;
}

.footer-social mat-icon {
  font-size: 24px;
}

.footer-copy {
  margin-top: 10px;
}

.footer-copy p {
  font-size: 0.8rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .footer-links {
    margin-bottom: 10px;
  }

  .footer-social {
    margin-bottom: 10px;
  }

  .footer-copy p {
    font-size: 0.7rem;
  }
}
