<!-- header.html -->

<mat-toolbar class="main-toolbar">
  <!-- Logo -->
  <div class="logo">
    <img src="assets/img/logo.jpg" alt="AgroMinds" />
  </div>

  <span class="spacer"></span>

  <!-- Menú común para todos los logueados -->
  <button mat-button routerLink="/home">Inicio</button>

  <!-- Opciones de USER (y también las verá el ADMIN) -->
  <button mat-button *ngIf="isUser" routerLink="/cultivos">
    Mis Cultivos
  </button>
  <button mat-button *ngIf="isUser" routerLink="/tareas">
    Tareas recomendadas
  </button>

  <!-- Admin -->
<button mat-button class="admin-btn" *ngIf="isAdmin" routerLink="/noticias">
  <mat-icon class="admin-icon">admin_panel_settings</mat-icon>
  Nueva noticia
</button>

<button mat-button class="admin-btn" *ngIf="isAdmin" routerLink="/reportes">
  <mat-icon class="admin-icon">bar_chart</mat-icon>
  Reportes
</button>

<!-- Logout -->
<button mat-raised-button class="logout-btn" (click)="Logout()">
  Cerrar sesión
</button>
  

</mat-toolbar>